<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container mt-5">
        <!-- Welcome Section -->
        <div class="jumbotron">
            <h1 class="display-4">Présentation de l'ISET de Radès</h1>
            <p class="lead">Dans un environnement caractérisé par la généralisation de la formation professionnalisante
                à l’ensemble de l’université tunisienne, l’Institut Supérieur des Etudes Technologiques de Rades (ISET
                de Rades) se trouve dans l’obligation de différencier, de diversifier et de valoriser son offre de
                formation et à même de consacrer l’école en tant qu’institution phare de l’enseignement supérieur
                technologique en Tunisie. Le lancement de cet institut vient donc à point nommé pour favoriser une
                formation active, orientée et signifiante pour répondre aux mieux aux besoins réels du milieu
                industriel. C’est une réflexion collégiale sur les orientations stratégiques avancées afin de pérenniser
                le développement de l’école et d’élargir son rayonnement sur son environnement régional, national et
                voire même international.</p>
        </div>

        <div id="about" class="row">
            <div class="col-lg-6">
                <h2>Création</h2>
                <p>Créé par la loi 51-92 du 18 mai 1992; l’ISET Radès est un institut universitaire tunisien rattaché à
                    l’université. L’enseignement y est assuré en grande partie par des enseignants du corps des
                    technologues.Placé sous la tutelle du ministère de l’Enseignement supérieur et de la Recherche
                    scientifique et géré par la direction générale ; propose une formation initiale diplômante, des
                    formations continues en lien avec les besoins des entreprises, un centre de ressources
                    technologiques, un pôles de compétence et une pépinières d’entreprises.</p>
            </div>
            <div class="col-lg-6">
                <img src="../../../assets/isetrn.jpg" class="img-fluid" alt="IsetR" style="border-radius: 50px;">


            </div>
        </div>
        <div id="contact" class="mt-5">
            <h2>Contactez-nous</h2>
            <p>Si vous avez des questions ou des demandes, n'hésitez pas à nous contacter :</p>
            <address>
                <strong>ISET de Radès</strong><br>
                123 Rue de l'Université<br>
                Ville, Pays<br>
                <span title="Phone">Tel:</span>71460100<br>
                <span title="Email">Email:</span> <a
                    href="mailto:directeuri7rades@gmail.com">directeuri7rades@gmail.com</a>
            </address>
        </div>
    </div>

</body>

</html>