<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">titre</th>
      <th scope="col">description</th>
      <th scope="col">charge horaire</th>
      <th scope="col">programme</th>
      <th scope="col">niveau de difficulté</th>
      <th scope="col">tags</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <th scope="row">{{client.id}}</th>
      <td>{{client.nom}}</td>
      <td>{{client.email}}</td>
      <td>{{client.tel?client.tel:''}}</td>
      <td><button class="btn btn-primary" >Editer</button></td>
      <td><button class="btn btn-danger" >Supprimer</button></td>
    </tr>
  </tbody>
</table>