<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div *ngIf="user">
        <h2>Your Information</h2>
        <ul>
          <li><strong>ID:</strong> {{ user.id }}</li>
          <li><strong>Username:</strong> {{ user.username }}</li>
          <li><strong>Email:</strong> {{ user.email }}</li>
          <li><strong>Role:</strong> {{ user.role }}</li>
          <li><strong>Formations:</strong> {{ user.formation ? user.formation.join(', ') : 'None' }}</li>
        </ul>
      </div>      
</body>
</html>